# This contains the anti-cheat related configurations.

# How many ticks of history are contained in the client's rolling window for use when receiving corrections.
# At 20 ticks per second a history size of 40 means that a correction could still be processed with rewind with
# two seconds of two-way latency
# NOTE: This is not "that" important on Boar.
player-rewind-history-size-ticks: 20
  
# This is the tolerance of discrepancies between the Client and Server Player position. This helps prevent sending corrections too frequently
# NOTE: Again, Boar can handle small offset just fine and does account for lag, however keep in mind that Boar can't handle (that well)
# any offset smaller than 5.0E-5
player-position-acceptance-threshold: 1.0E-4

# This is the max reach that Boar going to tolerance before flagging, it does account for lag so no worry :)
max-tolerance-compensated-reach: 3.005

# This decides whether we force Bedrock reach to be close as java as much as possible...
# Due to how ray casting is handle on Bedrock, it might give the player a slight advantage over java player
# This make it so that Bedrock player only get the same reach as the player...
# There is 3 mode, "bedrock" will check normally like, just bedrock.
# "java-1.8" mode will check like java edition but with the 0.1 hitbox expand that 1.8 have (should be use if your server is 1.8)
# "java-1.9" mode will check like java edition but without the 0.1 hitbox expand that 1.8 have.
force-reach-java-parity: "bedrock"

# How many discrepancies between the Client and Server Player position needed to be before the anticheat send alert message
# NOTE: This is NOT tolerance of discrepancies (that's player-position-acceptance-threshold), this will still do silent
# correction unless you change player-position-acceptance-threshold.
# This configuration exists so that some falses or other stuff won't keep spamming the chat/logs.
differ-till-alert: 0.0

# Checks that you want Boar to disable.
# Check name should be in format "Name-Type" and if there is no type then "Name", ex: Reach-A (don't actually disable reach check lol).
disabled-checks: []

# Normally Boar will account for lag, that also including block, if on the server side the block below player is Air but if
# on the client side, it's an actual block, then Boar will account for this. However, with this enable, Boar will forcefully
# rewind player if player is standing on a ghost block, this for ex: prevent player from abusing high ping to climb up walls in
# region that doesn't allow block placing (ex: WorldEdit).

# NOTE: This will only take effect if player is STANDING on the block.
ignore-ghost-block: false

# Should debug mode be enabled or not?
debug-mode: false